%p
  = f.label :first_name, 'First name'
  = f.text_field :first_name
%p
  = f.label :lsat_name, 'Last name'
  = f.text_field :last_name
%p
  = f.label :date_of_birth, 'Date of birth'
  = f.date_select :date_of_birth
