%div{ id: controller_name.singularize }
  %p
    = twitter_bootstrap_form_for instance_variable_get("@#{controller_name.singularize}"), url: %w(new create).include?(params[:action]) ? index_path : show_path do |f|
      - parent_objects.each do |obj|
        = f.hidden_field :"#{obj.name.singularize.underscore}_id"

      = render partial: 'form_fields', locals: { :f => f }
